[submodule "lib/Adafruit_TinyUSB_Arduino"]
	path = lib/Adafruit_TinyUSB_Arduino
	url = git@github.com:Cpasjuste/Adafruit_TinyUSB_Arduino.git
[submodule "lib/Adafruit_SPIFlash"]
	path = lib/Adafruit_SPIFlash
	url = https://github.com/adafruit/Adafruit_SPIFlash
[submodule "lib/SdFat"]
	path = lib/SdFat
	url = https://github.com/adafruit/SdFat
[submodule "libpico2d"]
	path = libpico2d
	url = git@github.com:Cpasjuste/libpico2d.git
[submodule "external/tinyusb"]
	path = external/tinyusb
	url = git@github.com:Cpasjuste/tinyusb.git
